<ion-header>
    <ion-toolbar>
        <ion-button routerLink="/home">
            <ion-icon slot="start" name="arrow-back" color="white"></ion-icon>
            Назад
        </ion-button>
        <div slot="end">
            <ion-item lines="none">
                <ion-label position="floating">ДД-ММ-ГГГГ</ion-label>
                <ion-datetime value="{{todayDate}}" min="1990" max="2100"
                              displayFormat="DD MMMM YYYY"
                              monthNames="{{customMonthNames}}"
                              cancelText="Отмена"
                              doneText="Ок"></ion-datetime>

            </ion-item>
        </div>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-list *ngIf="isLoaded">
            <ion-item>
                <ion-row>
                    <ion-col></ion-col>
                    <ion-col></ion-col>
                    <ion-col>
                        <ion-button (click)="detailPage()">
                            Подробнее
                        </ion-button>
                    </ion-col>
                </ion-row>
            </ion-item>
        </ion-list>
        <ion-list *ngIf="!isLoaded">
            <ion-item>
                <ion-skeleton-text animated class="skeleton" style="width: 90%"></ion-skeleton-text>
            </ion-item>
            <ion-item>
                <ion-skeleton-text animated class="skeleton" style="width: 90%"></ion-skeleton-text>
            </ion-item>
            <ion-item>
                <ion-skeleton-text animated class="skeleton" style="width: 90%"></ion-skeleton-text>
            </ion-item>
            <ion-item>
                <ion-skeleton-text animated class="skeleton" style="width: 90%"></ion-skeleton-text>
            </ion-item>
            <ion-item>
                <ion-skeleton-text animated class="skeleton" style="width: 90%"></ion-skeleton-text>
            </ion-item>
            <ion-item>
                <ion-skeleton-text animated class="skeleton" style="width: 90%"></ion-skeleton-text>
            </ion-item>
        </ion-list>
    </ion-grid>
</ion-content>
