ion-content {
  ion-item {
    ion-badge {
      font-size: 16px;
    }
  }
  ion-grid {
    margin-top: 250px;
    ion-row {
      ion-col {
        ion-item {
          //border: 1px solid lightslategrey;
          //margin: 10px 0;
          padding: 0 16px;
        }
        ion-button {
          height: 85px;
        }
      }
    }
  }

}
.loading {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: rgba(196, 196, 196, 0.5);
  ion-spinner {
    height: 50px;
    width: 50px;
    margin: 305px 210px 0;
  }
}