<ion-content>

    <ion-item lines="none">

        <ion-badge slot="end" color="light" routerLink="/market-auth">

            Магазин

        </ion-badge>

    </ion-item>

    <ion-grid>

        <ion-row class="ion-justify-content-center">

            <ion-col size="8">

                <ion-item>

                    <ion-icon name="person" slot="start" class="ion-margin-end"></ion-icon>

                    <ion-input padding type="text" placeholder="Login" [(ngModel)]="userData.userName"></ion-input>

                </ion-item>

                <ion-item>

                    <ion-icon name="lock" slot="start" class="ion-margin-end"></ion-icon>

                    <ion-input padding type="password" placeholder="Password" [(ngModel)]="userData.password"></ion-input>

                </ion-item>

                <ion-button class="login-btn" padding expand="block" (click)="login()">Login <ion-icon name="log-in" slot="end" mode="ios"></ion-icon></ion-button>

            </ion-col>

        </ion-row>

    </ion-grid>

</ion-content>

