<ion-content>

    <ion-list>

        <ion-item lines="none">

            <ion-button expand="full" (click)="close()">Наличными</ion-button>

        </ion-item>

        <ion-item lines="none">

            <ion-button expand="full">Картой</ion-button>

        </ion-item>

    </ion-list>

</ion-content>
