ion-content {
  ion-list {
    ion-item {
      ion-text {
        font-size: 22px;
      }
      ion-icon {
        font-size: 30px;
      }
    }
  }
}

.skeleton {
  height: 2rem;
  margin: 1.5rem 0;
}