<ion-header>
    <ion-toolbar>
        <ion-button routerLink="/home">
            <ion-icon slot="start" name="arrow-back" color="white"></ion-icon>
            Назад
        </ion-button>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list *ngIf="isLoaded">
        <ion-item [routerLink]="['/categories', 0]">
            <ion-text>
                <p>Все товары</p>
            </ion-text>
            <ion-icon name="arrow-forward" mode="ios" slot="end"></ion-icon>
        </ion-item>
        <ion-item *ngFor="let category of allCateg" [routerLink]="['/categories', category.category_id]">
            <ion-text>
                <p>{{ category.category_name }}</p>
            </ion-text>
            <ion-icon name="arrow-forward" mode="ios" slot="end"></ion-icon>
        </ion-item>
    </ion-list>
    <ion-list *ngIf="!isLoaded">
        <ion-item>
            <ion-skeleton-text animated class="skeleton" style="width: 90%"></ion-skeleton-text>
        </ion-item>
        <ion-item>
            <ion-skeleton-text animated class="skeleton" style="width: 90%"></ion-skeleton-text>
        </ion-item>
        <ion-item>
            <ion-skeleton-text animated class="skeleton" style="width: 90%"></ion-skeleton-text>
        </ion-item>
        <ion-item>
            <ion-skeleton-text animated class="skeleton" style="width: 90%"></ion-skeleton-text>
        </ion-item>
        <ion-item>
            <ion-skeleton-text animated class="skeleton" style="width: 90%"></ion-skeleton-text>
        </ion-item>
        <ion-item>
            <ion-skeleton-text animated class="skeleton" style="width: 90%"></ion-skeleton-text>
        </ion-item>
    </ion-list>
</ion-content>
