<ion-header>
  <ion-toolbar>
    <ion-button routerLink="/auth">
      <ion-icon slot="start" name="arrow-back" color="white"></ion-icon>
      Назад
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="9">
        <ion-item>
          <ion-label color="light" position="floating">Market ID</ion-label>
          <ion-input required="true" [(ngModel)]="marketId">
          </ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
