<ion-header>
    <ion-toolbar>
        <ion-button routerLink="/home">
            <ion-icon slot="start" name="arrow-back" color="white"></ion-icon>
            Назад
        </ion-button>
        <ion-fab-button class="camBtn" color="secondary" (click)="scan()" slot="end">

            <ion-icon name="barcode"></ion-icon>

        </ion-fab-button>
    </ion-toolbar>

</ion-header>

<ion-content>

    <ion-grid>
        <ion-searchbar placeholder="Поиск" mode="ios" [(ngModel)]="barcId" class="searchInp"
                       (ngModelChange)="searchProduct()"></ion-searchbar>

        <ion-list id="sr">

            <div *ngIf="isFound" class="ion-no-padding">

                <ion-item class="search-recom" *ngFor="let prod of foundProducts" lines="none">

                    {{prod.product_name}}

                    <ion-fab-button class="addBtn" slot="end" (click)="addToList(prod)">

                        <ion-icon name="add"></ion-icon>

                    </ion-fab-button>

                </ion-item>

            </div>

            <ion-item *ngIf="!isFound && barcId!=''">

                <ion-text>

                    <h3>Ничего не найдено...</h3>

                </ion-text>

            </ion-item>

        </ion-list>

        <ion-list>

            <ion-item class="padding-vertical" *ngFor="let product of allProducts; let i = index">

                <ion-row align-items-center>

                    <ion-col size="5">

                        <ion-text>

                            <h4>{{ product.product_name }}</h4>

                        </ion-text>

                    </ion-col>

                    <ion-col size="3">

                        <ion-row>

                            <ion-fab-button (click)="decreaseCount(product.product_articul)" class="removeBtn"
                                            size="small"

                                            color="danger" [disabled]="product.count==1">

                                <ion-icon name="remove"></ion-icon>

                            </ion-fab-button>

                            <ion-input #total class="ion-text-center prodCountInp" id="searchInp{{product.product_id}}"

                                       [value]="product.count" (ionBlur)="changePrice(product.product_id)"></ion-input>

                            <ion-fab-button (click)="increaseCount(product.product_articul)" class="addBtn" size="small"

                                            color="success" [disabled]="product.count==product.total">

                                <ion-icon name="add"></ion-icon>

                            </ion-fab-button>

                        </ion-row>

                    </ion-col>

                    <ion-col size="3">

                        <ion-text>

                            <h4>{{ (product.product_retail_price * product.count) }} TJS</h4>

                        </ion-text>

                    </ion-col>

                    <ion-col>

                        <ion-fab-button class="removePr" color="danger"

                                        (click)="removeFromList(i, product.currNum, product.producut_retail_price)">

                            <ion-icon name="trash"></ion-icon>

                        </ion-fab-button>

                    </ion-col>

                </ion-row>

            </ion-item>

            <ion-item id="stickyTotalPrice" lines="none">

                <ion-text class="ion-float-end">

                    <h4>Total: {{totalPrice | number:'1.2'}} TJS</h4>

                </ion-text>

            </ion-item>

        </ion-list>

        <ion-fab horizontal="center" class="confirmBtn">

            <ion-fab-button (click)="popoverConf()" [disabled]="allProducts.length == 0">OK

            </ion-fab-button>

        </ion-fab>

    </ion-grid>

</ion-content>
