ion-content {
  ion-grid {
    padding: 0;
    ion-row {
      padding-top: 5px;
    }
  }

}
.camBtn {
  width: 60px;
  height: 60px;
  margin: 5px 3px;
}
.searchInp {

}
.removeBtn {
  width: 33px;
  height: 33px;
}
.addBtn {
  width: 35px;
  height: 35px;
}

.prodCountInp {
  font-size: 20px;
}

.removePr {
  width: 33px;
  height: 33px;
}
.search-recom {
  width: 96.5%;
  border: 1px solid #dfe1e5;
  background: white;
  border-radius: 24px;
  padding: 5px;
  font-size: 18px;
}

#sr {
  display: none;
  position: absolute;
  z-index: 1000;
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
}
#stickyTotalPrice {
  position: sticky;
  position: -webkit-sticky !important;
  height: 50px;
  bottom: 0;
  width: 100%;
  background: white;
  border-top: .5px solid #dddfdd;
  z-index: 3;
}
.confirmBtn {
  padding-bottom: 80px;
}

.confirmBtn > ion-fab-button {
  height: 65px;
  width: 65px;
}
