ion-content {
  ion-grid {
    ion-list {
      ion-item {
        ion-row {
          width: 100%;
        }
      }
    }
  }
  ion-button {
    height: 50px;
  }
}
.confirmButton {
  padding-bottom: 50px;
}