<ion-header>
    <ion-toolbar>
        <ion-button routerLink="/total-sales">
            <ion-icon slot="start" name="arrow-back" color="white"></ion-icon>
            Назад
        </ion-button>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-list>
            <ion-item>
                <ion-row>
                    <ion-col size="8">
                        <ion-text>
                            <h4><b>Название</b></h4>
                        </ion-text>
                    </ion-col>
                    <ion-col size="4">
                        <ion-text>
                            <h4><b>Сумма</b></h4>
                        </ion-text>
                    </ion-col>
                </ion-row>
            </ion-item>
            <ion-item *ngFor="let fPr of allPr">
                <ion-row>
                    <ion-col size="8">{{fPr.product_name}}</ion-col>
                    <ion-col size="4">{{(fPr.product_retail_price * fPr.count) | number:'1.2'}} TJS</ion-col>
                </ion-row>
            </ion-item>
            <ion-item>
                <ion-row>
                    <ion-col size="8">
                        <ion-text>
                            <h4><b>Общая Сумма</b></h4>
                        </ion-text>
                    </ion-col>
                    <ion-col size="4">
                        <ion-text>
                            <h4><b>{{totPrice | number:'1.2'}} TJS</b></h4>
                        </ion-text></ion-col>
                </ion-row>
            </ion-item>
        </ion-list>
        <ion-row>
            <ion-col class="ion-text-center confirmButton">
                <ion-button (click)="cashConfirmButton()">
                    Подвердить
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
