<ion-header>

    <ion-toolbar>
        <ion-icon name="contact" slot="start" class="ion-padding-start"></ion-icon>
        <p slot="start">{{userName}}</p>

        <ion-button slot="end" (click)="logOff()">Выйти
            <ion-icon name="log-out" slot="end"></ion-icon>
        </ion-button>

    </ion-toolbar>

</ion-header>

<ion-content>

    <ion-grid>

        <ion-row class="ion-justify-content-center">

            <ion-col align-self-center size="5">

                <ion-button routerLink="/categories">Категории</ion-button>

                <ion-button routerLink="/statistics"><p>Отчёт</p>
                    <ion-icon name="clipboard" mode="ios"></ion-icon>
                </ion-button>

                <ion-button></ion-button>

            </ion-col>

            <ion-col align-self-end size="5">

                <ion-button routerLink="/total-sales"><p>Корзина</p>
                    <ion-icon name="cart" slot="center"></ion-icon>
                </ion-button>

                <ion-button routerLink="/report">Продажы</ion-button>

                <ion-button></ion-button>

                <router-outlet></router-outlet>

            </ion-col>

        </ion-row>

    </ion-grid>

</ion-content>
