
ion-content {
  ion-grid {
    margin-top: 70px;
    ion-row{
      ion-col {
        ion-button {
          margin: 30px 10px;
          width: 90%;
          height: 125px;
        }
      }
    }
  }
}