<ion-header>
  <ion-toolbar>
    <ion-button routerLink="/report">
      <ion-icon slot="start" name="arrow-back" color="white"></ion-icon>
      Назад
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
