.camBtn {
  width: 60px;
  height: 60px;
  margin: 5px 3px;
}
.headerRow {
  width: 100%;
  padding-top: 10px;
}
.srInp {
  height: 65px !important;
  font-size: 25px;
}
.srchBtn {
  height: 50px;
}
.skeleton {
  height: 2rem;
  margin: 1.5rem 0;
}

