<ion-header>

    <ion-toolbar>

        <ion-button routerLink="/categories">

            <ion-icon slot="start" name="arrow-back" color="white"></ion-icon>

            Назад

        </ion-button>

        <ion-fab-button class="camBtn" color="secondary" slot="end" (click)="scan()">

            <ion-icon name="barcode"></ion-icon>

        </ion-fab-button>

    </ion-toolbar>

</ion-header>

<ion-content>

    <ion-searchbar placeholder="Поиск" mode="ios" [(ngModel)]="barcID" class="searchInp"
                   (ngModelChange)="checkForEmpty($event); searchProducts()"></ion-searchbar>

    <ion-grid *ngIf="isLoaded">

        <ion-list>

            <ion-item>

                <ion-row nowrap class="headerRow">

                    <ion-col size="5">

                        <ion-text><h3><b>Название</b></h3></ion-text>

                    </ion-col>

                    <ion-col class="ion-text-center" size="4">

                        <ion-text><h3><b>Общее число</b></h3></ion-text>

                    </ion-col>

                    <ion-col class="ion-text-center">

                        <ion-text><h3><b>Цена</b></h3></ion-text>

                    </ion-col>

                </ion-row>

            </ion-item>

            <ion-item text-left *ngFor="let product of totalProducts" (click)="confirmAddProductToBuyList(product)">

                <ion-row style="width: 100%" align-items-center padding-vertical>

                    <ion-col size="5">

                        <ion-text class="ion-text-left"><h4>{{ product.product_name }}</h4></ion-text>

                    </ion-col>

                    <ion-col class="ion-text-center" size="4">

                        <ion-text><h4>{{product.total}}</h4></ion-text>

                    </ion-col>

                    <ion-col class="ion-text-center">

                        <ion-text><h4>{{ product.product_retail_price }} TJS</h4></ion-text>

                    </ion-col>

                </ion-row>

            </ion-item>

        </ion-list>

        <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)" [disabled]="">

            <ion-infinite-scroll-content

                    loadingSpinner="crescent"

                    loadingText="Loading more data...">

            </ion-infinite-scroll-content>

        </ion-infinite-scroll>

    </ion-grid>

        <ion-list *ngIf="!isLoaded">

            <ion-item>

                <ion-skeleton-text animated class="skeleton"></ion-skeleton-text>

            </ion-item>

            <ion-item>

                <ion-skeleton-text animated class="skeleton"></ion-skeleton-text>

            </ion-item>

            <ion-item>

                <ion-skeleton-text animated class="skeleton"></ion-skeleton-text>

            </ion-item>

            <ion-item>

                <ion-skeleton-text animated class="skeleton"></ion-skeleton-text>

            </ion-item>

            <ion-item>

                <ion-skeleton-text animated class="skeleton"></ion-skeleton-text>

            </ion-item>

            <ion-item>

                <ion-skeleton-text animated class="skeleton"></ion-skeleton-text>

            </ion-item>

            <ion-item>

                <ion-skeleton-text animated class="skeleton"></ion-skeleton-text>

            </ion-item>

            <ion-item>

                <ion-skeleton-text animated class="skeleton"></ion-skeleton-text>

            </ion-item>

        </ion-list>

</ion-content>
